* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.tvfriends-photo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.username_matches {
    font-family: 'Text Me One', sans-serif;
    font-size: 25px;
    /* margin-top: 25px; */
    /* margin-bottom: 10px; */
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.username {
    margin-bottom: 10px;
}

.tvfriends {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 25px;
    padding-top: 130px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.eachtvfriend {
    cursor: pointer;
    display: flex;
    align-items: center; 
}

